.left-form{
    -fx-background-color: linear-gradient(to bottom, #000000, #0D1D24);
    -fx-border-color:#000;
    -fx-border-width:.4px 0px .4px .4px;
}

.right-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .4px 0px;
}
.close{
    -fx-background-color:linear-gradient(to bottom, #4ca495, #3c755d);
    -fx-background-radius:8px;
    -fx-font-size:12px;
    -fx-alignment: right;
    -fx-text-fill:#fff;
    -fx-font-family:"American Typewriter";
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#dd4763;
}
.textfield{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-border-width:0px 0px .8px 0px;
    -fx-font-size:13px;
    -fx-font-family:"Tahoma";
}
.textfield:focused{
    -fx-border-color:linear-gradient(to bottom right, #753036, #3c8256);
    -fx-border-width:0px 0px 1.8px 0px;
}

.login-btn{
    -fx-background-color:linear-gradient(to bottom, #4ca495, #3c755d);
    -fx-background-radius:8px;
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-font-family:"American Typewriter";
    -fx-cursor:hand;
}
.login-btn:hover{
    -fx-background-color:linear-gradient(to bottom, #62bba9, #539679);
}

.top-form{
    -fx-background-color:#ffffff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:0px .4px .8px .4px;
}

.exit{
    -fx-background-color:linear-gradient(to bottom, #4ca495, #3c755d);
        -fx-background-radius:8px;
        -fx-font-size:12px;
        -fx-alignment: right;
        -fx-text-fill:#fff;
        -fx-font-family:"American Typewriter";
        -fx-cursor:hand;
    }
}
.exit:hover{
    -fx-background-color:#dd4763;
}
.sidev{
    -fx-background-color:linear-gradient(to bottom right, #753036, #3c8256);
}

.ticket-btn{
    -fx-background-color:linear-gradient(to bottom, #000000, #0D1D24);
    -fx-text-fill:#fff;
    -fx-background-radius:8px;
    -fx-font-size:14px;
    -fx-alignment: right;
    -fx-text-fill:#fff;
    -fx-font-family:"American Typewriter";
    -fx-cursor:hand;
}

.signout-btn{
    -fx-background-color: #0D1D24;
    -fx-background-radius:20px;
    -fx-cursor:hand;
}
.signout-btn:hover{
    -fx-background-color:#dd4763;
}
.white-bg{
    -fx-background-color:#ffffff;
    -fx-background-radius:5px;
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.4), 5,0,0,0);
}
.combobox{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-font-family:"American Typewriter";
    -fx-font-size:13px;
    -fx-border-radius:10px 5px 10px 5px;
    -fx-border-width:.8px;
}
.combobox:focused{
    -fx-border-color:linear-gradient(to bottom right, #753036, #3c8256);
    -fx-border-width:1.8px;
}
.textfield2{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-font-family:"American Typewriter";
    -fx-font-size:13px;
    -fx-border-radius:10px 5px 10px 5px;
    -fx-border-width:.8px;
}
.textfield2:focused{
    -fx-border-color:linear-gradient(to bottom right, #753036, #3c8256);
    -fx-border-width:1.8px;
}
.date1{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-font-family:"American Typewriter";
    -fx-font-size:13px;
    -fx-border-radius:10px 5px 10px 5px;
    -fx-border-width:.8px;
}
.date1:focused{
    -fx-border-color:linear-gradient(to bottom right, #753036, #3c8256);
    -fx-border-width:1.8px;
}



